dataset/

#Local Files
*.Rhistory
*~
*.*~
*.log
build.local.sh
output.txt
output.csv
scripts/node/node_modules
scripts/node/input
*test.csv
*Main.java
*Examples.java

#Projects Files
*.class
.classpath
.project
.settings/
target/
bin/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
